[color]
  ui = auto
[core]
  autocrlf = false
  whitespace = cr-at-eol
  excludesfile = ~/.gitignore_global
# for windows
#  editor = 'c:/Program Files (x86)/sakura/sakura.exe' -CODE=4 
# for linux
  editor = vim
#  editor = nvim
[pager]
  diff = diff-so-fancy | less --tabs=2 -RFX
  show = diff-so-fancy | less --tabs=2 -RFX
[alias]
  a = add
  d = diff
  dc = diff --cached
  d1 = diff HEAD~1 HEAD
  d2 = diff HEAD~2 HEAD
  d3 = diff HEAD~3 HEAD
  d4 = diff HEAD~4 HEAD
  d5 = diff HEAD~5 HEAD
  b = branch
  s = status
  l = log --graph --oneline --decorate=full
  cmt = commit
#  co = checkout
  sh = show
  sw = switch
[i18n]
  commitencoding = UTF-8
